body {
  margin: 1em;
  text-align: center;
  cursor: default;
}

code {
  display: inline-block;
  padding: .2em;
  border: 1px solid silver;
  font-size: .6em;
}

figure {
  display: inline-block;
  width: 8em;
  min-height: 8em;
  text-align: center;
  padding: 1em;
}

figcaption {
  font-size: .5em;
  word-spacing: .2em;
}

.symbol {
  font-size: 4em;
  display: block;
  min-height: 1.5em;
  font-family: 'Apple Color Emoji', 'Android Emoji', 'Segoe UI Symbol', Symbola, sans-serif;
  cursor: pointer;
}

.logo {
  font-size: 5em;
}

.logo h1 {
  font-size: 0.5em;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 2em;
}

.unicodes.filtered h2,
.unicodes.filtered figure {
  display: none;
}

.unicodes.filtered .show {
  display: inline-block;
}

input[type="search"] {
  font-size: 3em;
}
